<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-row>
      <p *ngIf="!nuevoDato">ID: {{id}}</p>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="idioma.data.nombre"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-textarea [(ngModel)]="idioma.data.descripcion"></ion-textarea>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label position="floating">Nivel</ion-label>
        <ion-input [(ngModel)]="idioma.data.nivel"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label position="floating">Horario</ion-label>
        <ion-input [(ngModel)]="idioma.data.horario"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="idioma.data.precio"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-button expand="full" (click)="guardar()">
        {{ nuevoDato ? 'Guardar' : 'Modificar' }}
      </ion-button>

      <ion-button expand="full" color="danger" *ngIf="!nuevoDato" (click)="clicBotonBorrar()">
        Borrar
      </ion-button>
    </ion-row>
  </ion-list>
</ion-content>