<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Idiomas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Idiomas</ion-label>
    <ion-input [(ngModel)]="idiomasEditando.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripcion</ion-label>
    <ion-input [(ngModel)]="idiomasEditando.descripcion"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Agregar</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar tarea</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar tarea</ion-button>


  <h1>Idiomas</h1>

  <ion-list>
    <ion-item *ngFor="let idioma of arrayColeccionIdiomas">
      <ion-grid>
        <ion-row>
          <h2>{{ idioma.data.nombre }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ idioma.data.descripcion }}</p>
        </ion-row>
        <ion-row>
          <p>{{ idioma.data.nivel }}</p>
        </ion-row>
        <ion-row>
          <p>{{ idioma.data.horario }}</p>
        </ion-row>
        <ion-row>
          <p>{{ idioma.data.precio }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let idioma of arrayColeccionIdiomas" (click)="selectIdioma(idioma)">
     
      

    </ion-item>
  </ion-list>

 

</ion-content>